/putInJava/target/
/zadatak/target/
/zadatak2/target/
/zadatak3/target/
/vezbaJsonObjectMapper/target/
/mavenproject33/target/
/mavenproject3/target/
/mavenproject31/target/
/builderDesignPattern/target/
/zadatakGetPostXmlFinal/target/
/assignmentTimerApp/target/
/lambdaIzrazi/target/
/lambdaIzrazi2/target/
/noSQL/target/
/checkUrlStatus/target/